{%extends 'index.html'%}
{%load static%}
{%block title%}Analyzed_Text {%endblock title%}
{%block content%}
<div class="alert p-2 alert-success alert-dismissible fade show" role="alert">
    <strong>{{purpose}} successfully!</strong> Your {{purpose}} and your modified text has been shown below
    <button type="button" class="btn-close p-2" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div style="align-items: center;width:auto;margin-left:200px" class="container my-5">
    <h3 style="color: darkolivegreen;align-items:center;" class="container justify-content-center my-5;">Your {{purpose}} text has been shown below</h3>
</div>
<div style="border-radius: 10px; align-items:center; width:1100px ;height:300px;" class="container  border border-2 border-success p-4 my-5 ">
    <p>
    <pre>{{analyzed_text}}</pre>
    </p>
</div>


{%endblock content%}